<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-q</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string></string>
		<key>Strings</key>
		<string>` ``` ^</string>
	</dict>
	<key>Roman-Accent-A</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ä A À Á Â Æ Ã Å Ā</string>
		<key>Strings</key>
		<string>Ä A À Á Â Æ Ã Å Ā</string>
	</dict>
	<key>Roman-Accent-O</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Õ Ö O Ô Ò Ó Œ Ø Ō</string>
		<key>Strings</key>
		<string>Õ Ö O Ô Ò Ó Œ Ø Ō</string>
	</dict>
	<key>Roman-Accent-S</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Š S Ś</string>
		<key>Strings</key>
		<string>Š S Ś</string>
	</dict>
	<key>Roman-Accent-U</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ü U Û Ù Ú Ū</string>
		<key>Strings</key>
		<string>Ü U Û Ù Ú Ū</string>
	</dict>
	<key>Roman-Accent-Z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Ž Z Ź Ż</string>
		<key>Strings</key>
		<string>Ž Z Ź Ż</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ä a à á â æ ã å ā</string>
		<key>Strings</key>
		<string>ä a à á â æ ã å ā</string>
	</dict>
	<key>Roman-Accent-o</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>õ ö o ô ò ó œ ø ō</string>
		<key>Strings</key>
		<string>õ ö o ô ò ó œ ø ō</string>
	</dict>
	<key>Roman-Accent-s</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>š s ß ś</string>
		<key>Strings</key>
		<string>š s ß ś</string>
	</dict>
	<key>Roman-Accent-u</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ü u û ù ú ū</string>
		<key>Strings</key>
		<string>ü u û ù ú ū</string>
	</dict>
	<key>Roman-Accent-z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>ž z ź ż</string>
		<key>Strings</key>
		<string>ž z ź ż</string>
	</dict>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-AlternateCurrencySign-1</key>
	<string>$</string>
	<key>UI-AlternateCurrencySign-2</key>
	<string>£</string>
	<key>UI-AlternateCurrencySign-3</key>
	<string>¥</string>
	<key>UI-Confirm</key>
	<string>confirm</string>
	<key>UI-Dismiss</key>
	<string>dismiss</string>
	<key>UI-Done</key>
	<string>Valmis</string>
	<key>UI-EmergencyCall</key>
	<string>  Hädaabi
  kõne  </string>
	<key>UI-Go</key>
	<string>Mine</string>
	<key>UI-HWR</key>
	<string>Handwriting</string>
	<key>UI-Join</key>
	<string>Liitu</string>
	<key>UI-Kana</key>
	<string>Kana</string>
	<key>UI-LanguageIndicator</key>
	<string>Eesti</string>
	<key>UI-Next</key>
	<string>Edasi</string>
	<key>UI-NextCandidate</key>
	<string>next</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Pinyin</key>
	<string>Pinyin</string>
	<key>UI-PrimaryCurrencySign</key>
	<string>€</string>
	<key>UI-Return</key>
	<string>Sisestus</string>
	<key>UI-Romaji</key>
	<string>QWERTY</string>
	<key>UI-Route</key>
	<string>Marsruut</string>
	<key>UI-Search</key>
	<string>Otsi</string>
	<key>UI-Send</key>
	<string>Saada</string>
	<key>UI-Space</key>
	<string>Tühik</string>
	<key>UI-TopLevelDomain</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>.com .ee .org .edu .net</string>
		<key>Strings</key>
		<string>.com .ee .org .edu .net</string>
	</dict>
</dict>
</plist>
